[user]
    name = Tim O'Connell
    email = tim@exxo.sh
[include]
    path = ~/.gpg.gitconfig
[alias]
    undo = reset HEAD^
    unstage = reset HEAD --
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[commit]
    gpgsign = true
[tag]
    gpgSign = true
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
    insteadOf = https://gitlab.com/
[includeIf "gitdir:~/dev/sky/"]
    path = ~/dev/sky/.gitconfig
[includeIf "gitdir:~/dev/cecg"]
    path = ~/dev/cecg/.gitconfig