#!/bin/bash

#~~ PATH_BASE on mac looks like:
# /System/Cryptexes/App/usr/bin
# /Users/toe649/Library/Application
# /bin
# /opt/homebrew/bin
# /sbin
# /usr/bin
# /usr/local/bin
# /usr/local/laps
# /usr/sbin
# /var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin
# /var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin
# /var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin
# Support/JetBrains/Toolbox/scripts

$HOME/.local/bin
$HOME/.nix-profile/bin
$HOME/.local/share/fnm
$HOME/bin
/opt/homebrew/bin
/opt/homebrew/sbin
$GOPATH/bin
$GOROOT/bin
$PNPM_HOME
$HOME/.yarn/bin
$HOME/.config/yarn/global/node_modules/.bin
/Applications/Alacritty.app/Contents/MacOS

# todo: figure out whitespace handling
  # "/Applications/Sublime Text.app/Contents/SharedSupport/bin"
  # "$HOME/Library/Application Support/Jetbrains/Toolbox/scripts"